<div class ="container-fluid">
    <center>
        <div class="row">
            <div class="col-md-5 col-md-offset-4">
                <h1>Editar Usuário</h1>
                <%= render 'form2' %>
                <br>
            </div>
        </div>
    </center>
</div>
