                <% if notice %>
                    <center>
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <%= notice %>
                        </div>
                    </center>
                <% end %>
            <!-- /.container-fluid -->
            <div class="col-lg-12 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <h3 class="panel-title"><center><i class="fa fa-info"></i> Informação</center></h3>
                    </div>
                    <div class="panel-body">
                        <p class="lead">Seja bem vindo ao sistema de acompanhamento de chamadas do NATI - CCSA, este é um sistema feito para agilizar e facilitar o acompanhamento bem como a manutenção de equipamento de informática, em caso de qualquer duvida você pode nos contactar abrindo um chamado em nosso próprio sistema ou através dos outros meios de contatos que deixaremos logo abaixo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-blue-escuro">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contato</h3>
                    </div>
                    <div class="panel-body">
                        <p class="lead">
                            <strong>Ramal:</strong> 2345</br>
                            <strong>Email:</strong> nati@ufpe.com.br</br>
                            <strong>Sala:</strong> D235
                        </p>
                    </div>
                </div>
            </div>