<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-5 col-md-offset-3">
            <div class="panelCustom panel-default">
                <div class="panel-heading">                                
                    <div class="row-fluid user-row">
                        <img src="/images/logo2-ufpe.png" class="img-responsive" alt="Logo UFPE" width="330"/>
                    </div>
                </div>
                <div class="panel-body">
                    <center>
                        <% if notice %>
                            <div class="alert alert-danger alert-dismissible" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle-o"></i></span></button>
                              <i class="fa fa-exclamation"></i> <%= notice %>
                            </div>
                        <% end %>
                    </center>
                    <%= form_for(:session, url: '/login') do |f| %>
                        <div class="input-group margin-bottom-sm">
                          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <%= f.text_field :cpf, :placeholder => "CPF", class: "form-control" %>
                        </div><p></p>
                        <div class="input-group margin-bottom-sm">
                          <span class="input-group-addon"><span class="mif-key fa-fw"></span></span>
                            <%= f.password_field :password, :placeholder => "Senha", class: "form-control" %>
                        </div><p></p>
                        <button type="submit" name="commit" class="btn-submit btn btn-lg btn-danger btn-block"><i class="fa fa-sign-in"></i> Entrar</button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>