<div class ="container-fluid">
    <div class="row">
      <div class="col-md-5 col-md-offset-4">
        <center><h1>Adicionar maquina</h1></center>
        <%= render 'form' %>
        <br>
    </div>
</div>