<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="http://www.integratedcma.com/wp-content/uploads/2014/06/smart-icon.png" type="image/x-icon" />
  <title>SmartCase</title>
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>

<%= yield %>

</body>
</html>
