<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/images/smart-icon.png" type="image/x-icon" />
  <title>SmartCase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type='text/javascript' src='/css-system/js/pace.min.js'></script>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
</head>
<body class="body">

<%= yield %>

</body>
</html>